header{
    text-align: center;
    padding: 1em;
    background-color: rgb(31, 31, 201);
    color
}
.photo-div{
    display: inline;
}
.guess-who{
    text-align: center;
}
.alert-message{
    text-align: center;
}
.success{
    color: blue;
}
.wrong{
    color: red;
}
.blue-border{
    border: 3px solid blue;
}
.red-border{
    border: 3px solid red;
}
.new-name{
    margin-bottom: 5em;
    height: 30px;
    width: auto;
}
#guess-who-img{
    width: 25%;
    height: auto;
}